{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <section class="row">
        <article class="col-6">
            <h1>Présentation</h1>
            <hr>
            <p>Bienvenue sur Dorian LSPDFR ! </p>
            <p>
                Ce site web permets la mise à disposition de différentes ressources pour le plugin LSPDFR (fonctionnant
                sous GTA5). Vous y trouverez soit des plugins Open sources en cours de développement, ou bien des
                helpers de configuration.
            </p>
            <p class="font-weight-bold">
                La plateforme est en construction, et les projets tous open sources. Si vous êtes tenté par l'aventure,
                <span class="text-danger">N'hésitez pas</span> !
            </p>
        </article>
        <div class="col-6">
            <img class="w-100" src="{{ asset('build/images/police_presentation.jpg') }}" alt="Police présentation">
        </div>
    </section>
{% endblock %}
